<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>China</key>
	<dict>
		<key>Continent</key>
		<string>ASIA</string>
		<key>Cities</key>
		<array>
			<string>Beijing</string>
			<string>Shanghai</string>
		</array>
	</dict>
	<key>France</key>
	<dict>
		<key>Continent</key>
		<string>EUROPE</string>
		<key>Cities</key>
		<array>
			<string>Paris</string>
			<string>Marseille</string>
		</array>
	</dict>
</dict>
</plist>
